
@{
    ViewBag.Title = "Bienvenido";
}

<h2>Bienvenido</h2>

<form action="/Ejercicios/Bienvenido2" method="post">
    <label>Nombre</label>
    <input type="text" name="nombre" value="" />
    <button type="submit">OK</button>
</form>
