
@{
    ViewBag.Title = "Contador";
}

<h2>Contador</h2>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <form id="frmHitCounter" method="post">
        Total number of users since the Web server started:
        <asp:label id="lblTotalNumberOfUsers"></asp:label><br />
        Current number of users browsing the site:
        <asp:label id="lblCurrentNumberOfUsers"></asp:label><br />
    </form>
</body>
</html>
