
@{
    ViewBag.Title = "Ejercicio1";
}

<h2>Ejercicio1</h2>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Ejercicio1</title>
</head>
<body>
    <form action="/Ejercicios/Ejercicio1" method="post">
        <label>var a</label>
        <input type="number" name="a" value="" />
        <label>var b</label>
        <input type="number" name="b" value="" />
        <label>var c</label>
        <input type="number" name="c" value="" /> 
        <button type="submit">Dale noma</button>
    </form>
    <h1>
        @ViewBag.k
    </h1>
</body>
</html>