@model Region
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.LabelFor(c => c.RegionDescription)
    @Html.TextBoxFor(c => c.RegionDescription)

    <button type="submit">Lo quereeee?</button>
}
